.modal_body {
  display: flex;
  flex-flow: column nowrap;
  gap: 6px;
}

.info {
  width: 100%;
  display: grid;
  grid-template-columns: 70px auto;
}

.info div:nth-child(1) {
  padding-top: 4px;
  color: gray;
  font-size: 14px;
}
.info div:nth-child(2) {
  font-size: 18px;
}
