.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green-100);
  box-shadow: inset 10px 10px 10px 4px var(--color-green-500),
    inset -10px -10px 10px 4px var(--color-green-500);
}

.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.title_text {
  font-size: 40px;
  color: var(--color-green-700);
}

.main_container {
  width: min(100vw, 1300px);
  margin-top: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

@media screen and (max-width: 765px) {
  .title_text {
    font-size: 30px;
  }
}
